.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-security-login {
    background: #EAEDED;
    margin: auto;
    max-width: 420px;
    padding: 15px;
    width: 100%;
}

.form-security-login-title {
    text-align: center;
}

.form-security-login-subtitle {
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-security-recovery-password {
    color:#999;
    margin:1em 0;
    text-align: center;
}
