.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-registration-register {
    background: #EAEDED;
    margin: auto;
    max-width: 420px;
    padding: 15px;
    width: 100%;
}

.form-registration-register-title {
    text-align: center;
}

.form-registration-register-subtitle {
    text-align: center;
    margin-bottom: 1.5rem;
}
