.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-recovery-request {
    background: #EAEDED;
    margin: auto;
    max-width: 420px;
    padding: 15px;
    width: 100%;
}

.form-recovery-request-title {
    text-align: center;
}
